* {
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #567da8;
}

div#wrapper {
    margin-left: 10px;
    margin-right: 10px;
    min-width: 1100px;
}

img.login_logo {
    width: 100%;
    padding-top: 60px;
}

div.login_segment {
    height: 210px;
}